@page "/transactions"

@inject IModalService modal
@inject ITransactionService TransactionService
@using FinancialGoals.Services
@implements IDisposable

<AntList Class="demo-loadmore-list" DataSource="@TransactionService.Transactions" ItemLayout="ListItemLayout.Horizontal" Loading="@InitLoading">
    <ChildContent Context="item">
        <ListItem Actions="actions">
            <ListItemMeta AvatarTemplate="avatar" Description="@item.Description">
                <TitleTemplate>
                    <a href="https://ant.design">@item.Type</a>
                </TitleTemplate>
            </ListItemMeta>
            <div>
                @{
                    var sign = (item.Type == TransactionType.Income) ? "+" : "-";
                }
                
                <p>@sign @item.Amount</p>
            </div>
        </ListItem>
    </ChildContent>
</AntList>

<Pagination Simple Current="@(TransactionService.CurrentPage)" Total="@(TransactionService.PageCount * 10)" OnChange="HandlePageChange" />

@code {
    public bool InitLoading { get; set; } = true;
    public bool Loading { get; set; } = false;
    public RenderFragment[] actions = new[] { edit, add };
    
    static RenderFragment avatar =@<Avatar Src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></Avatar>;
    static RenderFragment edit = @<a key="list-loadmore-edit">edit</a>;
    static RenderFragment add = @<a key="list-loadmore-more">more</a>;
    
    protected override async Task OnInitializedAsync()
    {
        await LoadData(TransactionService.CurrentPage);
    }
    
    public void Dispose()
    {
        TransactionService.OnChange -= StateHasChanged;
    }
    
    private async Task LoadData(int page)
    {
        InitLoading = true;
        await TransactionService.GetTransactions(page);
        InitLoading = false;
    }
    
    private async Task HandlePageChange(PaginationEventArgs args)
    {
        await LoadData(args.Page);
        TransactionService.CurrentPage = args.Page;
        TransactionService.OnChange += StateHasChanged;
    }
}