@page "/categories"

@inject IModalService modal
@inject ICategoryService CategoryService
@inject ImageService ImageService
@inject IAccountService AccountService
@using FinancialGoals.Client.Services.AccountService
@using FinancialGoals.Services
@using ImageService = FinancialGoals.Client.Services.ImageService
@using ModalOptions = Blazored.Modal.ModalOptions
@implements IDisposable

@if (!string.IsNullOrWhiteSpace(alertMessage))
{
    <Alert Type="@AlertType.Success" Message="@alertMessage" Closable Style="font-family: EightBitsFont"/>
}

<PageTitle>Categories</PageTitle>
<GridRow Style="font-family: EightBitsFont">
    <GridCol Span="12">
        <h3>Categories</h3>
    </GridCol>
</GridRow>


@if (CategoryService.Categories == null)
{
    <p style="font-family: EightBitsFont">
        <em>Loading...</em>
    </p>
}
else
{
    @foreach (var account in AccountService.Accounts)
    {
        <Divider Style="font-family: EightBitsFont">
            <GridRow>
                    @account.Name (@account.FinancialAccountId)
            </GridRow>
        </Divider>
        
        <GridRow>
            @foreach (var category in CategoryService.Categories)
            {
                if (category.FinancialAccountId == account.FinancialAccountId)
                {
                    <GridCol Span="6">
                        <Card Class="mb-3"
                              Style=@GetCardStyle(category.Default)
                              Bordered Cover="coverTemplate(category.Image.ImageBytes, category.Image.ImageName)"
                              Title=@category.Name
                              Actions="@(new[] 
                                       {
                                           actionEdit(!category.Default ? () => OpenEditForm(category.CategoryId, account.FinancialAccountId) : () => ShowAlertWindow("edit")), 
                                           actionDelete(!category.Default ? () => OpenDeleteForm(category.CategoryId, category.Name) : () => ShowAlertWindow("delete"))
                                       })">
                            <Extra>
                                @cardTitleArrow(category.TransactionType)
                            </Extra>
                            <Body>
                            <Divider Orientation="center">
                                @if (category.Default)
                                {
                                    <span>
                                        @category.Amount
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @category.Amount / @category.Limit
                                    </span>
                                }
                            </Divider>
                            </Body>
                        </Card>
                    </GridCol>
                }
            }
            <GridCol Span="6">
                <Card Style="width: 300px; height: 95%; border-color: #FFD700; border-width: thick; border-radius: 5px; font-family: EightBitsFont">
                    <div style="text-align: center; margin-top: 50%">
                        <Button @onclick="@(() => OpenCreateForm(account.FinancialAccountId))">Add</Button>
                    </div>
                </Card>
            </GridCol>
        </GridRow>
    }
}

@code {
    private Stream imageStream;
    private string imageSource;
    private string alertMessage = string.Empty;
    private bool canBeChanged = true;
    private bool canBeDeleted = true;

    private string backgroundColorForCard(bool isDefault) => !isDefault ? "00ffff" : "#B0E0E6";
    private string GetCardStyle(bool isDefault) => $"width: 300px; background-color: {backgroundColorForCard(isDefault)}; font-family: EightBitsFont; border-color: #FFD700; border-width: thick; border-radius: 5px;";
    
    protected override async Task OnInitializedAsync()
    {
        await AccountService.GetAccounts();
        await CategoryService.GetCategories();
        CategoryService.OnChange += StateHasChanged;
    }

    private string getImageDataFromBytes(byte[] imageData)
    {
        string base64Image = Convert.ToBase64String(imageData);
        return $"data:image/png;base64,{base64Image}";
    }
    
    RenderFragment coverTemplate (byte[] imageData, string imageName) => 
        @<img Style="width: 150px; margin: auto" alt="@imageName" src="@getImageDataFromBytes(imageData)" />;

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
    }

    RenderFragment actionEdit(Action clickAction) => @<Icon Type="edit" OnClick="@clickAction"/>;
    RenderFragment actionDelete(Action clickAction) =>@<Icon Type="delete" OnClick="@clickAction"/>;

    RenderFragment cardTitleArrow(TransactionType type) => type == TransactionType.Expense ? 
        @<i class="oi oi-arrow-thick-top" style="color: #FA8072"></i> : 
        @<i class="oi oi-arrow-thick-bottom" style="color: #BDB76B"></i>;
    
    private async Task OpenCreateForm(int accountId)
    {
        var options = new ModalOptions() 
        { 
            OverlayCustomClass = "custom-modal-overlay"
        };
        
        var parameters = new ModalParameters()
            .Add("AccountId", accountId);
        
        var message = modal.Show<CategoriesAdd>("Create category", parameters);
        var result = await message.Result;

        if (result.Confirmed && result.Data != null)
        {
            alertMessage = result.Data.ToString();
            StateHasChanged();
        }
    }
    
    private void OpenEditForm(int ItemId, int AccountId)
    {
        var parameters = new ModalParameters()
            .Add(nameof(CategoriesEdit.ItemId), ItemId)
            .Add("AccountId", AccountId);
        modal.Show<CategoriesEdit>("Edit category", parameters);
    }
    
    private void OpenDeleteForm(int ItemId, string ItemName)
    {
        var parameters = new ModalParameters()
            .Add(nameof(CategoriesEdit.ItemId), ItemId);
        modal.Show<CategoryDelete>($"Are you sure that you want to delete '{ItemName}' category?", parameters);
    }

    private void ShowAlertWindow(string type)
    {
        var parameters = new ModalParameters()
            .Add("AlertType", type);
        modal.Show<AlertWindow>("Edit category", parameters);
    }
}