@page "/categoriesAdd"

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel
@using FinancialGoals.Core.DTOs.Category

@inject HttpClient Http
@inject ICategoryService CategoryService

<Form Model="@categoryToCreate"
      LabelColSpan="4"
      WrapperColSpan="18">
    <DataAnnotationsValidator/>
    <FormItem Label="Name" ShowFeedbackOnError="true">
        <Input @bind-Value="@context.Name"/>
    </FormItem>
    <FormItem Label="Limit" ShowFeedbackOnError="true">
        <AntDesign.InputNumber @bind-Value="@context.Limit" />
    </FormItem>

    <Divider Orientation="right">
        <Button Color="@Color.Green6" Type="@ButtonType.Primary" HtmlType="submit" @onclick="CreateCategory" 
                >
            Create
        </Button>
        <Button Type="@ButtonType.Dashed" @onclick="Close">
            Cancel
        </Button>
    </Divider>
       
</Form>

@code {
    CategoryToCreate categoryToCreate = new CategoryToCreate();
    
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task CreateCategory()
    {
        var result = await CategoryService.AddCategory(categoryToCreate);
        if (result) await BlazoredModal.CloseAsync();    
    }
    
    private async Task Close() => await BlazoredModal.CloseAsync();
}