@page "/categoriesAdd"

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel
@using FinancialGoals.Core.DTOs.Category

@inject ICategoryService CategoryService
@inject IMessageService _message

<Form Model="@categoryToCreate"
      LabelColSpan="4"
      WrapperColSpan="18">
    <DataAnnotationsValidator/>
    <FormItem ShowFeedbackOnError="true">
        <label for="" style="font-family: EightBitsFont">Name</label>
        <Input @bind-Value="@context.Name"/>
    </FormItem>
    <FormItem Label="Limit" ShowFeedbackOnError="true" Style="font-family: EightBitsFont">
        <AntDesign.InputNumber @bind-Value="@context.Limit" Style="font-family: EightBitsFont; border-radius: 5px"/>
    </FormItem>
            
    <Upload Action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            Name="avatar"
            Class="avatar-uploader"
            ListType="picture-card"
            ShowUploadList="false"
            BeforeUpload="BeforeUpload"
            OnChange="HandleChange">
        @if (!string.IsNullOrWhiteSpace(imageUrl))
        {
            <img src="@imageUrl" alt="avatar" style="width: 100%" />
        }
        else
        {
            <div>
                <Icon Spin="loading" Type="@(loading?"Loading":"plus")" ></Icon>
                <div className="ant-upload-text">Upload</div>
            </div>
        }
    </Upload>
            
            
    <Divider Orientation="right">
        <Button Color="@Color.Green6" Type="@ButtonType.Primary" HtmlType="submit" @onclick="CreateCategory">
            Create
        </Button>
        <Button Type="@ButtonType.Dashed" @onclick="Close">
            Cancel
        </Button>
    </Divider>
</Form>

@code {
    CategoryToCreate categoryToCreate = new CategoryToCreate();
    
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task CreateCategory()
    {
        var result = await CategoryService.AddCategory(categoryToCreate);
        if (result) await BlazoredModal.CloseAsync(ModalResult.Ok($"{categoryToCreate.Name} category was created successfully!"));    
    }
    
    private async Task Close() => await BlazoredModal.CloseAsync();
    
    bool loading = false;

    string imageUrl;
    
    bool BeforeUpload(UploadFileItem file)
    {
        var isJpgOrPng = file.Type == "image/jpeg" || file.Type == "image/png";
        if (!isJpgOrPng)
        {
            _message.Error("You can only upload JPG/PNG file!");
        }
        var isLt2M = file.Size / 1024 / 1024 < 2;
        if (!isLt2M)
        {
            _message.Error("Image must smaller than 2MB!");
        }
        return isJpgOrPng && isLt2M;
    }
    
    async void HandleChange(UploadInfo fileinfo) // todo change to Task
    {
        if (fileinfo.File.State == UploadState.Success)
        {
            imageUrl = fileinfo.File.ObjectURL;
            
            var uploadedFile = new UploadedFileModel
            {
                Name = fileinfo.File.FileName,
                Type = fileinfo.File.Type,
                Size = fileinfo.File.Size,
                Data = await GetFileData(fileinfo.File.ObjectURL)
            };
    
            categoryToCreate.File = uploadedFile;
        }
        
        InvokeAsync(StateHasChanged);
    }
    
    private async Task<byte[]> GetFileData(string objectURL)
    {
        using (var httpClient = new HttpClient())
        {
            return await httpClient.GetByteArrayAsync(objectURL);
        }
    }
}