@page "/categories"

@inject IModalService modal
@inject ICategoryService CategoryService
@implements IDisposable

<PageTitle>Categories</PageTitle>
<GridRow>
    <GridCol Span="3">
        <h3>Categories</h3>
    </GridCol>
    <GridCol>
        <div>
            <Button Shape="@ButtonShape.Circle" Icon="plus" @onclick="@(OpenCreateForm)" Type="primary"/>
        </div>
    </GridCol>
</GridRow>

@if (CategoryService.Categories == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div>
        <GridRow>
            @foreach (var category in CategoryService.Categories)
                {
                    <GridCol Span="6">
                        <Card Title=@(category.Name) Style="width: 300px;"
                              Actions="@(new[] {
                                        actionEdit(() => OpenEditForm(category.CategoryId)),
                                        actionDelete(() => OpenDeleteForm(category.CategoryId, category.Name))
                                     })">
                            <p>@category.Amount / @category.Limit</p>
                        </Card>
                    </GridCol>
                }
        </GridRow>
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        CategoryService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
    }
    
    @* RenderFragment actionCreate(Action clickAction) =>@<Icon Type="plus" OnClick="@clickAction" />; *@
    RenderFragment actionEdit(Action clickAction) =>@<Icon Type="edit" OnClick="@clickAction" />;
    RenderFragment actionDelete(Action clickAction) =>@<Icon Type="delete" OnClick="@clickAction" />;

    private void OpenCreateForm()
    {
        modal.Show<CategoriesAdd>("Create category");
    }
    
    private void OpenEditForm(int ItemId)
    {
        var parameters = new ModalParameters().Add(nameof(CategoriesEdit.ItemId), ItemId);
        modal.Show<CategoriesEdit>("Edit category", parameters);
    }

    private void OpenDeleteForm(int ItemId, string ItemName)
    {
        var parameters = new ModalParameters().Add(nameof(CategoriesEdit.ItemId), ItemId);
        modal.Show<CategoryDelete>($"Are you sure that you want to delete '{ItemName}' category?", parameters);
        // StateHasChanged();
    }
}