@page "/categories"

@inject IModalService modal
@inject ICategoryService CategoryService
@inject ImageService ImageService
@using Microsoft.VisualBasic
@using FinancialGoals.Client.Services
@using ImageService = FinancialGoals.Client.Services.ImageService
@implements IDisposable

<PageTitle>Categories</PageTitle>
<GridRow>
    <GridCol Span="3">
        <h3>Categories</h3>
        @* <img src="@imageSource" alt="Image" /> *@
        @* <img src="@imageSource" alt="Image" /> *@
    </GridCol>
    <GridCol>
        <div>
            <Button Shape="@ButtonShape.Circle" Icon="plus" @onclick="@(OpenCreateForm)" Type="primary"/>
        </div>
    </GridCol>
</GridRow>

@if (CategoryService.Categories == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div>
        <GridRow>
            @foreach (var category in CategoryService.Categories)
                {
                    <GridCol Span="6">
                        <Card
                            Style="width: 300px;" Bordered Cover="coverTemplate(category.Image.ImageBytes, category.Image.ImageName)"
                            Title=@(category.Name)
                            Actions="@(new[] {
                                         actionEdit(() => OpenEditForm(category.CategoryId)), 
                                         actionDelete(() => OpenDeleteForm(category.CategoryId, category.Name)) })">
                            <Divider Orientation="center">
                                @* <img src="@convert(category.Image.ImageBytes)"/> *@
                                @category.Amount / @category.Limit
                            </Divider>
                        </Card>
                    </GridCol>
                }
        </GridRow>
    </div>
}

@code {
    private Stream imageStream;
    private string imageSource;
    
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        CategoryService.OnChange += StateHasChanged;
    }

    private string getImageDataFromBytes(byte[] imageData)
    {
        string base64Image = Convert.ToBase64String(imageData);
        return $"data:image/png;base64,{base64Image}";
    }
    
    RenderFragment coverTemplate (byte[] imageData, string imageName) => 
        @<img Style="width: 150px; margin: auto" alt="@imageName" src="@getImageDataFromBytes(imageData)" />;

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
    }
    
    RenderFragment actionEdit(Action clickAction) =>@<Icon Type="edit" OnClick="@clickAction" />;
    RenderFragment actionDelete(Action clickAction) =>@<Icon Type="delete" OnClick="@clickAction" />;

    private void OpenCreateForm()
    {
        modal.Show<CategoriesAdd>("Create category");
    }
    
    private void OpenEditForm(int ItemId)
    {
        var parameters = new ModalParameters().Add(nameof(CategoriesEdit.ItemId), ItemId);
        modal.Show<CategoriesEdit>("Edit category", parameters);
    }

    private void OpenDeleteForm(int ItemId, string ItemName)
    {
        var parameters = new ModalParameters().Add(nameof(CategoriesEdit.ItemId), ItemId);
        modal.Show<CategoryDelete>($"Are you sure that you want to delete '{ItemName}' category?", parameters);
        // StateHasChanged();
    }

    private async Task<string> test()
    {
        return await CategoryService.GetImageUrl();
    }
    
    @* RenderFragment avatarTemplate = @<Avatar Size="50px" src="https://financialgoals.blob.core.windows.net/categoryicons/food32.png?sp=r&st=2023-07-16T16:07:24Z&se=2023-07-17T00:07:24Z&sv=2022-11-02&sr=b&sig=eajcZSQu4yReY4gS5Oge3fwahvnaFlAN4ZLfObiqT1o%3D"></Avatar>; *@
    RenderFragment  avatarTemplate => @<Avatar Size="50px" src=""></Avatar>;
    
    @* RenderFragment coverTemplate = @<img Style="width: 150px; margin: auto" alt="example" src="https://financialgoals.blob.core.windows.net/categoryicons/foods.png?sp=r&st=2023-07-16T16:40:11Z&se=2023-07-17T00:40:11Z&sv=2022-11-02&sr=b&sig=3pAaeWdnEGaKZHSpazNIrsgrSMZZJ6jy4CWPwHQ6pO4%3D" />; *@
}